<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header') %>
   <h1>Este es el body</h1>
   <% if (user) { %>
    User: <%= user.email %>
   <% } else { %>
    No estas logeado
    <% } %> <br><br>
    <a href="/carritoDB">carrito con database</a><br><br>
    probando algo
</body>
</html>