<%- include('./head') %>
<body>
    <header>
        <div class="logo">
          <a href="#">Logo</a>
        </div>
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/projects">Productos</a></li>
            <li><a href="/projects/create">Crea tu producto</a></li>
          </ul>
        </nav>
        <nav>
            <ul>
            <li><a href="../users/register">Register</a></li>
            <li><a href="../users/login">Login</a></li>
        </ul>
        </nav>
      </header>
</body>
</html>