<%- include('./head') %>
<body>
    <header>
        <nav class="nav">
        <div class="left">
          <a>Logo</a>
          <a href="/">Inicio</a>
        </div>
        <div class ="center">
          <a href="/projects">Proyectos con JSON</a>
          <a href="/projects/create">Crea tu proyecto JSON</a>
          <a href="/database">Proyectos con DB</a>
          <a href="/database/agregarProyecto">Agregar Proyecto a la DB
        </div>
        <div class="right">
          <% if (!user) { %>
              <a href="/users/login">Login</a>
              <a href="/users/register">Register</a>
          <% } else { %>
              <a href="/users/profile">Profile</a>
              <form action="/users/logout" method="post">
                  <button type="submit">Logout</button>
              </form>
              <% } %>
            </div>
      </nav>
      </header>
</body>
</html>