<nav>
    <a href="/">Inicio</a>
    <% if (!user) { %>
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
    <% } else { %>
        <a href="/users/profile">Profile</a>
        <form action="/users/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <% } %>
</nav>