header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 70vh;
    background-image: url('./images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav{
    background-color: white;
    border-radius: 25px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5%
  }
  
.nav a {
  margin: 0 10px;
}

 .nav .left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
  
  .nav .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
.nav .right {
  display: flex;
  align-items: center;
  margin-left: auto;
}