<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    nuevo producto JSON!
    <form action="/projects/guardar" enctype="multipart/form-data" method="post">
        <input type="text" name="name" id="name" placeholder="Nombre del producto"> <br>      
        <input type="number" name="price" id="price" placeholder="precio sugerido del producto"> <br>       
        <input type="file" name="file" id="file" multiple> <br>   
        <button type="submit">Guardar</button>        
    </form>
</body>
</html>